body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #FF6347; }

p {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }

.main_color_bg {
  background-color: #222; }

.bg-light {
  background-color: #FAFAFA;
  color: #222; }

.bg-dark {
  background-color: #222;
  color: #FAFAFA; }

path {
  fill: #FAFAFA; }

.toggle-menu {
  background-color: rgba(34, 2, 0, 0.7); }

.top-menu {
  color: #FFF; }
  .top-menu a:hover {
    color: #FF6347; }
  .top-menu a span {
    background-color: rgba(255, 255, 255, 0.05); }

.header-content {
  color: #FAFAFA; }

.section.bg-dark .section-subtitle::after {
  background-color: #FAFAFA; }

.section.bg-light .section-subtitle::after {
  background-color: #222; }

.section-subtitle::after {
  background-color: #222; }

.about-col-title {
  color: #888; }

.about-col-text:nth-of-type(odd) {
  color: #FF6347; }

.resume-col-left {
  border-right-color: #222; }

.resume-col-item-year {
  background-color: #FF6347;
  color: white; }

.resume-col-item-description {
  color: #222; }

.portfolio-item {
  color: #888; }
  .portfolio-item-active {
    color: white;
    border-bottom-color: #FF6347; }
